body {
    background: url(../images/bg.gif);
    color: #A020F0;
    max-width: 726px;
    padding:0 10px;
    margin: 40px auto;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
}

pre{
    color: #A020F0;
    border: 1px solid #f020d8;
    margin-top: auto;
    background: #000000BF;
    text-align: center;
}

nav {
    border: 1px solid #f020d8;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow: hidden;
    background: #000000BF;
}

a {
    color: #a020f0;
    border-right: 1px solid #bbb;
    display: block;
    float: left;
    text-align: center;
    padding: 5px 45px;
    margin-bottom: -5px;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
a:last-child {
    border-right: none;
  }

.counter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
}
.post{
    background: #000000BF;
    border: 1px solid #f020d8;
    margin-top: -5px;
    padding: 15px;
    font-size: 18px;
}
.lain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-left: 5px;
    padding-bottom: 10px;
}
.contact{
    padding-left: 25px;
}
.title h1{
    text-align: center;
    margin: 0;
}
.title h3{
    text-align: center;
    margin: 0;
}
.title{
    background: #000000BF;
    border: 1px solid #f020d8;
    padding: 15px;
    font-size: 18px;
    margin: 0;
}
.aboutme{
    padding-top: 5px;
}
.touhou{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-left: 20px;
}
a.extras{
    float: left;
    padding: 5px;
    margin-bottom: -5px;
    text-decoration: none;
    width: 31%;
    text-align: center;
}
p.mail{
    border: 1px solid #f020d8;
    text-align: center;
    position: relative;
    left: 27%;
    width: 45%;
}
.jesus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.programs{
    background: #000000BF;
    border: 1px solid #f020d8;
    margin-top: 5px;
    padding: 20px;
    font-size: 18px;
    padding-bottom: 400px;
}

a.program {
    color: #a020f0;
    display: block;
    padding-left: 31px;
    padding-right: 24px;
    padding-top: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #f020d8;
    text-align: center;
    width: 25%;
}
.exile{
    width: 100%;
    border: 1px solid #f020d8;
}
div.content{
    width: 100%;
}